.pdr-banner{
    background-color: $pdr-blue;
    background: url(../images/background-banner-2.png);
    background-size: cover;
    background-position: left 70% bottom 90%;
    color: $pdr-light;
    min-height: 500px;
}