// Personaliza as cores do bootstrap
$dark: #161B1D;
$secondary: #1E2629;
$info: #189EDD;
$success: #0BD8278F;

$font-family-base: "Montserrat", Sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";