@import "_variables";

*{
    box-sizing: border-box;
}

// body{
//     font-family: "Helvetica", Sans-serif;
// }

// Importando módulos do site

@import "_pdr-banner";

// Botões personalizados

.pdr-btn-green{
    background-color: $pdr-green;
    text-align: center;
    border-radius: 50rem;
}

.pdr-about-title{
    color: $pdr-darkBlue;
}